<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
    <title>Famous Quotes</title>
</head>
<body>
    <%- include('partials/nav') %>

    <div class="container mt-5 text-center">
        <h1 class="mb-4">Famous Quotes</h1>
        
        <form id="searchByKeywordForm" action="/searchByKeyword" method="GET" class="mb-4">
            <label>Keyword: <input type="text" name="keyword" id="keyword"></label>
            <button class="btn btn-outline-success">Search</button>
        </form>
        
        <hr>
        
        <form action="/searchByAuthor" class="mt-4">
            Author: 
            <select name="authorId">
                <% for (let row of rows) { %>
                <option value="<%=row.authorId %>">
                    <%=row.firstName %> <%=row.lastName %>
                </option>
                <% } %>
            </select>
            <button class="btn btn-outline-success">Search</button>
        </form>
    </div>

   
</body>
</html>